/* font smoothing */
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

/* image captions */
.imagecaption {
  -webkit-justify-content: start;
  justify-content: start;
}

a .imagecaption {
  -webkit-justify-content: end;
  justify-content: end;
}

.imagecaption {
  margin-top: 10px;
}

.imagecaption p {
  font-size: 14px;
  padding-right: 4px;
}

/* kleiner hack wegen icon */
.w-embed {
  padding-top: 1px;
  margin-left: 12px;
}

/* foldericon on js hover */
svg {
  fill: white;
  transition: fill .4s ease;
}

.hovered svg {
  fill: #577477;
}

/* media query */
@media (max-width: 767px) {
  .alwaystakemeblock {
    width: 100%;
  }
}