/* font smoothing */
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }

  /* image captions */
  .imagecaption p {
    font-size: 14px;
  }
  
  /* foldericon on js hover */
  svg {
    fill: white;
    transition: fill .4s ease;
    }
  
  .hovered svg {
    fill: #577477;
  } 

  /* glider styling */
.glider-contain {

}


    